<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookCave</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
@{
    var genres = ViewData["Genres"] as IEnumerable<string>;
}
    <nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="container-fluid navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" <a asp-area="" asp-controller="Home" asp-action="Index"><img style="width:47px;" src="http://localhost:5000/images/bookcave_logo.png" alt="The "></a>
            </div>


            <ul class="nav navbar-nav navbar-left">
                <li>
                    <form asp-controller="Book" asp-action="Search" class="navbar-form" role="search" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <div class="container-fluid">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    <div class="container-fluid ">
        <ul class="nav navbar-nav">
            <li>
            <div class="dropdown">
                <button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                    @foreach(var genre in genres)
                    {
                        <a asp-controller="Book" asp-action="ListBooks" asp-route-selectedGenre="@genre">@genre</a>
                    }
                </div>
            </div>
            </li>
            <li id="top-ten"><a asp-controller="Book" asp-action="Top10">Top 10</a></li>
            <li><a asp-controller="Book" asp-action="Create" class="">Create new book</a></li>
        </ul>
    </div>
    </div>
    </nav>
    
    
    <div class="body-content" id="category-layout">
        @RenderBody()
        <hr id="footer-hr" class="footer-margin">
        <footer>
            <div class="flex-container">
                <div class="row footer-container">
                    <div class="col col-lg-2">
                        <a asp-controller="Home" asp-action="About">About us</a>
                    </div>
                    <div class="col col-lg-2">
                        <p>&copy; 2018 - BookCave</p>
                    </div>
                    <div class="col col-lg-2">
                        <a asp-controller="Home" asp-action="Contact">Contact us</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
