@model BookCave.Models.ViewModels.BookFrontPageViewModel
@{
    ViewData["Title"] = "BookCave";
}
<body id="body-frontpage">
<h2 class="frontpage-category">PopularBooks</h2>
<div class="container" id="front-page-primary-wrap">
    <div class="row">
        <div class="col col-lg-12 frontpage-booklist">
            @foreach(var books in Model.PopularBooks)
            {
            <div class="col col-lg-2 book-display-frontpage">
                <div class="row">
                    <div class="col col-lg-12 book-image-div">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">
                        <img class="book-image-frontpage" src="@books.Image" alt="@books.Title">
                        </a>                    
                    </div>
                </div>
                    <div class="book-info-frontpage">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">
                            <h3 id="frontpage-title">@books.Title</h3>
                        </a>
                        <p id="frontpage-author">@books.Author</p>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id" class="frontpage-star-link">
                            <div class="frontpage-rating">
                                <div class="stars">
                                @for(int i = 0; i < @books.Rating; i++)
                                {
                                    <span class="star">&#9733;</span>
                                }
                                @{
                                    var count = Convert.ToInt32(books.Rating);
                                }
                                @for(int a = count; a < 5; a++)
                                {
                                    <span class=" star unchecked-star">&#9733;</span>
                                }                                
                                </div>
                            </div>
                        </a>
                        <p id="frontpage-price">@books.Price $</p>
                        <span hidden class="front-page-bookID">@books.Id</span>
                        <button class="btn btn-primary frontpage-cartbutton cartbutton">Add to cart</button>
                    </div>
            </div>
            }
        </div>
        <h2 class="frontpage-category">Recently Added</h2>
        <div class="col col-lg-12 frontpage-booklist">
            @foreach(var booksRecentlyAdded in Model.RecentlyAddedBooks)
            {
            <div class="col col-lg-2 book-display-frontpage">
                <div class="row">
                    <div class="col col-lg-12 book-image-div">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@booksRecentlyAdded.Id">
                            <img class="book-image-frontpage" src="@booksRecentlyAdded.Image" alt="@booksRecentlyAdded.Title">
                        </a>                    
                    </div>
                </div>
                    <div class="book-info-frontpage">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@booksRecentlyAdded.Id">
                            <h3 id="frontpage-title">@booksRecentlyAdded.Title</h3>
                        </a>
                        <p id="frontpage-author">@booksRecentlyAdded.Author</p>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@booksRecentlyAdded.Id" class="frontpage-star-link">
                            <div class="frontpage-rating">
                                @for(int j = 0; j < @booksRecentlyAdded.Rating; j++)
                                {
                                    <span class="star">&#9733;</span>
                                }
                                @{
                                    var countRecentlyAdded = Convert.ToInt32(booksRecentlyAdded.Rating);
                                }
                                @for(int b = countRecentlyAdded; b < 5; b++)
                                {
                                    <span class=" star unchecked-star">&#9733;</span>
                                }                                 
                            </div>
                        </a>
                        <p id="frontpage-price">@booksRecentlyAdded.Price $</p>
                        <span hidden class="front-page-bookID">@booksRecentlyAdded.Id</span>
                        <button class="btn btn-primary frontpage-cartbutton cartbutton">Add to cart</button>
                    </div>
            </div>
            }
        </div>
        <h2 class="frontpage-category">Random books</h2>
        <div class="col col-lg-12 frontpage-booklist">
            @foreach(var booksRandom in Model.RandomBooks)
            {
            <div class="col col-lg-2 book-display-frontpage">
                <div class="row">
                    <div class="col col-lg-12 book-image-div">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@booksRandom.Id">
                            <img class="book-image-frontpage" src="@booksRandom.Image" alt="@booksRandom.Title">
                        </a>                    
                    </div>
                </div>
                    <div class="book-info-frontpage">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@booksRandom.Id">
                            <h3 id="frontpage-title">@booksRandom.Title</h3>
                        </a>
                        <p id="frontpage-author">@booksRandom.Author</p>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@booksRandom.Id" class="frontpage-star-link">
                            <div class="frontpage-rating">
                                @for(int c = 0; c < @booksRandom.Rating; c++)
                                {
                                    <span class="star">&#9733;</span>
                                }
                                @{
                                    var countRandom = Convert.ToInt32(booksRandom.Rating);
                                }
                                @for(int c = countRandom; c < 5; c++)
                                {
                                    <span class=" star unchecked-star">&#9733;</span>
                                }
                            </div>
                        </a>
                        <p id="frontpage-price">@booksRandom.Price $</p>
                        <span hidden class="front-page-bookID">@booksRandom.Id</span>
                        <button class="btn btn-primary frontpage-cartbutton cartbutton">Add to cart</button>
                    </div>
            </div>
            }
        </div>
    </div>
</div>
</body>