@model BookCave.Models.ViewModels.CartViewModel


<div class="container-fluid cart-title-container">
    <div class="row">
        <div class="col col-lg-12" style="border:solid;">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</div>
<br>
<div class="container-fluid cart-view-order-continer" style=" justify-content:space-between;">
    <div class="col col-lg-10 col-lg-10" style="">
        <div class="container-fluid" style="">
            @foreach(var book in Model.CartItems)
            {
                <div class="row" align="left">
                    <div class="col-sm-12">
                        <div class="col col-sm-10 book-description " align="left" style="">
                            <div class="col col-lg-3 cart-book-cover" style=" float: left;">
                                <img class="topten-image" src="@book.Book.Image" alt="">
                            </div>
                            <div class="col col-sm-9 cart-book-info" style="">
                                <p>@book.Book.Title</p>
                                <p>@book.Book.AuthorId</p>
                                <p>@book.Book.Price</p>
                            </div>
                        </div>
                        <div class="col col-sm-2 book-quantity" style="">
                            <p> <span class="count">@book.Count</span> x <span class="price">@book.Book.Price</span> $</p>
                            <p> Sum = <span class="sum"></span> </p>
                        </div>
                    </div>
                </div>
                <hr>
            }
           
            <br>
        </div>

    </div>
    <div class="col col-lg-2 col-sm-2" style="">
        <p>Order total Price</p>
        <p></p>
        <div class="">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-group text-center">Continue shopping</a>
            <a href="#" class="btn btn-primary btn-group text-center">Proceed to checkout</a>
        </div>
    </div>
  
</div>