@model List<BookCave.Models.ViewModels.OrderViewModel>
<div class="container-fluid text-center">
    <h2 class="center">Order history for @Model[0].FirstName @Model[0].LastName</h2>
</div>
<br>
<div class="container">
        @foreach (var o in Model)
            {
        <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="row" style="border:solid; border-color:gray;">
                        <div class="col-sm-12">
                            <p><strong>Order Id: </strong>@o.Id</p>
                            <p><strong>Order date: </strong>@o.OrderDate.Day/@o.OrderDate.Month/@o.OrderDate.Year</p>
                            <p><strong>Total: </strong>@o.Total$</p>
                            <hr>
                            @foreach (var b in o.OrderDetails)
                            {
                                <strong>Book Title: </strong><a asp-controller="Book" asp-action="Details" asp-route-id="@b.BookId">@b.Book.Title</a>
                                <hr>
                            }
                        </div>
                    </div>
                    <div class="col-sm-10"></div>
                </div>
                <div class="col-sm-3">
                
                </div>
    </div>
            }
</div>

