@model BookCave.Models.ViewModels.BookDetailsViewModel

<style>
.img-bookdetail {
  width: 160px;
  height: 240px;
}

p {
  font-weight: 800;
}

p > span {
  font-weight: 200;
}
</style>

<div class="row">
  <div class="col-sm-2">
    <img class="img-bookdetail" src="@Model.Image" alt="alternitive">
  </div>
  <div class="col-sm-10">
    <p>Book Title: <span>@Model.Title</span></p> 
    <p>Author:  <span>@Model.Author</span></p>
    <p>Year published: <span>@Model.ReleaseYear</span></p> 
    <p>Rating: <span>@Model.Rating</span></p> 
    <p>Book Information: <span>@Model.Info</span> </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-10"></div>
  <div class="col-sm-2">
    <span id="price-tag">Price : <span>@Model.Price</span> </span>  
    <a id="buy" class="btn btn-primary">Buy!</a>
  </div>

</div>