@model BookCave.Models.ViewModels.BookDetailsViewModel

@using Microsoft.AspNetCore.Identity
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager
<!-- BOOK DETAILS -->
<div class="container" id="book-details">
    <div class="row">
      <div class="col-sm-2">
        <img class="img-bookdetail" src="@Model.Image" alt="alternitive">
      </div>
      <div class="col-sm-10">
        <table class="table">
          <tr>
            <th valign="top">Book Title:</th>
            <td>@Model.Title</td>
          </tr>
          <tr>
            <th valign="top">Author:</th>
            <td>@Model.Author</td>
          </tr>
          <tr>
            <th valign="top">Year published:</th>
            <td>@Model.ReleaseYear</td>
          </tr>
          <tr>
            <th valign="top">Rating:</th>
            <td>
              <div class="stars">
              @for(int i = 0; i < @Model.Rating; i++)
              {
                  <span class="star">&#9733;</span>
              }
              @{
                  var count = Convert.ToInt32(Model.Rating);
              }
              @for(int a = count; a < 5; a++)
              {
                  <span class=" star unchecked-star">&#9733;</span>
              }                                
              </div>
            </td>
          </tr>
          <tr>
            <th valign="top">Book Information:</th>
            <td>@Model.Info</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
        <span id="price-tag">Price : <span>@Model.Price$</span> </span>  
        <span hidden class="front-page-bookID">@Model.Id</span>
        <button  class="btn btn-primary cartbutton">Add to cart</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10"> 
        <h3>More details</h3> 
        <table class="table">
          <tbody>
            <tr>
              <th>Publisher:</th>
              <td>@Model.Publisher</td> 
            </tr>
            <tr>
              <th>Language:</th>
              <td>@Model.Language</td> 
            </tr>
            <tr>
              <th>ISBN: </th>
              <td>@Model.ISBN</td> 
            </tr>
            <tr>
              <th>Genre:</th>
              <td>@Model.Genre</td> 
            </tr>
          </tbody>
        </table> 
      </div>
    </div>

@if (SignInManager.IsSignedIn(User))
{
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="form-group col-sm-10">
      <!-- FORM -->
      <form asp-action="Details" asp-controller="Book" class="form">
        <div class="input-group">
          <label>
            <textarea name="Comment" id="Comment" cols="100" rows="10" class="form-control" placeholder="Enter your comment here"></textarea>
          </label>
        </div> <!-- input group -->
        <div class="input-group">
          <label>
            Rating: 1
            <input type="radio" name="Rating" value="1">
          </label>
            <input type="radio" name="Rating" value="2">
            <input type="radio" name="Rating" value="3" checked>
            <input type="radio" name="Rating" value="4">
          <label>
            <input type="radio" name="Rating" value="5">
            5
            </label>
        </div> <!-- input-group -->
        <div class="input-group">
          <input type="submit" class="btn btn-default" id="comment-button" value="Post">
        </div> <!-- input-group -->
      </form>  
    </div> <!-- form-group -->
  </div> <!-- row -->
}
else
{
  <a asp-action="Login" asp-controller="Account" class="btn btn-default">Log in to comment</a>
}



  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    @if ( Model.Comments != null )
    {
      @for (int i = Model.Comments.Count - 1; i >= 0; i--)
      {
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Rating: </strong> <span class="text-muted"> @Model.Comments[i].Rating </span>
              </div>
              <div class="panel-body">
                @Model.Comments[i].Comment
              </div>
            </div> 
          </div> 
        </div>
      }
    }
  </div>
</div>

