@model BookCave.Models.ViewModels.BookListViewModel
@{
    Layout = "~/Views/Shared/_CategoryLayout.cshtml";
}
<body id="ListBooksBody">
    <div class="container" id="category-container">
        <div class="row">
            <div class="col col-lg-12 frontpage-booklist"></div>
                @foreach(var books in Model.Books)
                {
                    <div class="col col-lg-2 col-sm-2 book-display-frontpage">
                        <div class="row">
                            <div class="col col-lg-12 book-image-div">
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">
                                <img class="book-image-frontpage" src="@books.Image" alt="@books.Title">
                                </a>                    
                            </div>
                        </div>
                            <div class="book-info-frontpage">
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">
                                    <h3 id="frontpage-title">@books.Title</h3>
                                </a>
                                <p id="frontpage-author">@books.Author</p>
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id" class="frontpage-star-link">
                                    <div class="frontpage-rating">
                                        @for(int i = 0; i < @Convert.ToInt32(books.Rating); i++)
                                        {
                                            <span class="star">&#9733;</span>
                                        }
                                        @{
                                            var count = Convert.ToInt32(books.Rating);
                                        }
                                        @for(int a = count; a < 5; a++)
                                        {
                                            <span class=" star unchecked-star">&#9733;</span>
                                        } 
                                    </div>
                                </a>
                                <p id="frontpage-price">@books.Price $</p>
                                <button class="btn btn-primary frontpage-cartbutton">Add to cart</button>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>