@model List<BookCave.Models.ViewModels.BookTableViewModel>
@{
    Layout = "~/Views/Shared/_CategoryLayout.cshtml";
    var Query = ViewData["SearchString"];
    var genres = ViewData["Genres"] as IEnumerable<string>;
    var currentquery = ViewData["currentQuery"] as string;
}
<body id="ListBooksBody">
    <div id="category-container">
        <div class="row">
            <div class="col col-lg-2">
                <div class="category-menu">
                    <div class="category-p">
                        <h3 class="category-h3">Categories</h3>
                        @foreach(var genre in genres)
                        {
                            <p><a class="genre-links" asp-controller="Book" asp-action="ListBooks" asp-route-selectedGenre="@genre" asp-route-order="0">@genre</a></p>
                        }
                    </div>
                    <hr id="linebreak-menu">
                    <div class="category-p">
                        <h3 class="category-h3">Order by</h3>
                        <p><a class="genre-links" asp-controller="Book" asp-action="Search" asp-route-q="@currentquery" asp-route-order="0">A-Z</a></p>
                        <p><a class="genre-links" asp-controller="Book" asp-action="Search" asp-route-q="@currentquery" asp-route-order="1">Rating</a></p>
                        <p><a class="genre-links" asp-controller="Book" asp-action="Search" asp-route-q="@currentquery" asp-route-order="2">Price - Lowest first</a></p>
                        <p><a class="genre-links" asp-controller="Book" asp-action="Search" asp-route-q="@currentquery" asp-route-order="3">Price - Highest first</a></p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-10 frontpage-booklist">
                @foreach(var books in Model)
                {
                    <div class="col col-lg-2 book-display-frontpage">
                        <div class="row">
                            <div class="col col-lg-12 book-image-div">
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">
                                <img class="book-image-frontpage" src="@books.Image" alt="@books.Title">
                                </a>                    
                            </div>
                        </div>
                            <div class="book-info-frontpage">
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">
                                    <h3 id="frontpage-title">@books.Title</h3>
                                </a>
                                <p id="frontpage-author">@books.Author</p>
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id" class="frontpage-star-link">
                                    <div class="frontpage-rating">
                                        @for(int i = 0; i < @Convert.ToInt32(books.Rating); i++)
                                        {
                                            <span class="star">&#9733;</span>
                                        }
                                        @{
                                            var count = Convert.ToInt32(books.Rating);
                                        }
                                        @for(int a = count; a < 5; a++)
                                        {
                                            <span class=" star unchecked-star">&#9733;</span>
                                        } 
                                    </div>
                                </a>
                                <p id="frontpage-price">@books.Price $</p>
                                <button class="btn btn-primary frontpage-cartbutton cartbutton">Add to cart</button>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>